streamlit
openai
langchain
tiktoken
faiss-cpu
unstructured
pypandoc
beautifulsoup4
jirapy
#python-libmagic
#pypdf
#pdf2image
#unstructured[local-inference]
#pandoc
#pandas
#python-magic
#python-magic-bin
#pdfminer.six
#pdfplumber

